{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="page-register"> 
<div class="row">
            <div class="col-4">
                <img src="https://cdn.pixabay.com/photo/2019/10/01/13/58/coffee-4518353_960_720.png" alt="cake" width="305" height="225"></img>
            </div>
            <div class="col-8">
                 <div class="card" style="width: 30rem;">
                <div class="card-title">
                <h1>Content de te revoir ! 🙂</h1>
                </div>
                <div class="card-body">
<form class="justify-content-md-center" method="post">


<form action="{{ path('app_login') }}" method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    

</form>


{% endblock %}
