{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container">
    <h1>Recherchez votre recette</h1>
</div>

<form>
    <div class ="container">
        <div class="form-group">
            <input type="search" class="form-control" id="searchBar" placeholder="Recherchez votre recette préferée">
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
</form>

{% endblock %}
