{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="page-home">
    
        <div class="row justify-content-md-center">
            <form class="form-inline">
                <div class="form-group">
                    <input type="search" class="form-control" id="searchBar" placeholder="Que voulez vous manger ?">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </form>
        </div>
    
</div>

{% endblock %}
