{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="page-home">
    
        <div class="row">
            <div class="col-4">
                <img src="https://cdn.pixabay.com/photo/2017/08/07/12/42/fork-2603466_960_720.jpg" alt="cake" width="192" height="288"></img>
            </div>
            <div class="col-8">
                <form class="form-inline justify-content-md-center" method="get">
                    <div class="form-group">
                        <input type="search" class="form-control" id="searchBar" placeholder="🔎 Que voulez vous manger ?">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<div class="page-home2">
    <div class="container">
  <div class="row">
    <div class="col-lg">
    <img src="https://cdn.pixabay.com/photo/2016/11/29/06/20/adult-1867769_960_720.jpg" alt="breakfast" width="320" heigt="213"></img>
      <h4>Breakfast</h4>
    </div>
    <div class="col-lg">
    <img src="https://cdn.pixabay.com/photo/2015/01/16/15/02/eating-601581_960_720.jpg" alt="lunch" width="320" heigt="213"></img>
      <h4>Lunch</h4>
    </div>
    <div class="col-lg">
    <img src="https://cdn.pixabay.com/photo/2015/09/02/12/43/meal-918639_960_720.jpg" alt="dinner" width="320" heigt="213"></img>
      <h4>Dinner</h4>
    </div>
  </div>
</div>
</div>

{% endblock %}
