
.page-home {
    .row {
        background-color: #FCF068;
        height : 200px;
        width: 100%;
        margin: 0px;
    }
    form.form-inline{
        min-width: 500px;
    }
    #searchBar.form-control{
        min-width: 300px;
    }
};