
.page-home {
    font-family: 'Raleway', sans-serif;
    .row {
        background-color: #FCF068;
        height : 200px;
        width: 100%;
        margin: 0px;
    }
    form.form-inline{
        min-width: 500px;
        margin-top: 10%;
    }
    .form-control#searchBar{
        width: 350px;
    }
    img{
        margin-top: 10px;
        margin-left: 80px;
    }
};
.page-home2{
    font-family: 'Raleway', sans-serif;
    .container{
        margin-top: 10%;
        text-align: center;
        color: #FA6E59;
    }
};
