.page-footer{
    font-family: 'Raleway', sans-serif;
    margin-top: 600px;
    height: 150px;
    color: whitesmoke;
    a{
        color: #FA6E59;
    }
}
.page-navbar{
    font-family: 'Raleway', sans-serif;
}