{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Recipe</h1>

    {{ include('recipe/_form.html.twig', {'button_label': 'Save'}) }}

    <button class="btn btn-primary" href="{{ path('app_recipe_index') }}">back to list</button>
</div>
{% endblock %}
