{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}
    <div class="page-recipes">
    
        <div class="row">
            <div class="col-4">
                <img src="https://cdn.pixabay.com/photo/2016/10/10/01/58/donut-1727498_960_720.png" alt="cake" width="280" height="288"></img>
            </div>
            <div class="col-8">
               <h1>Mes recettes préférées</h1>
            </div>
        </div>
</div>
<div class="page-recipes2">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.dateCreate ? recipe.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recipe.time }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Oups c'est bien vide ici...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
