{% extends 'base.html.twig' %}

{% block title %}Hello RecipesController!{% endblock %}

{% block body %}
    <ul>
        {% for recipe in recipes %}
            <li>{{recipe.name}}</li>
        {% endfor %}
    </ul>
{% endblock %}
